/* Reset Settings */

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

/* Body Styling */

body {
  background-color: white;
  height: 100vh;
  padding: 0;
  max-width: 960px;
  margin: 0 auto;
}

div {
  display: block;
}

nav {
  position: fixed;
  left: 0;
  right: 0;
  align-items: center;
  background-color: pink;
  color: white;
  display: flex;
  height: 80px;
  padding: 10px;
  justify-content: space-between;
}

h1 {
  font-size: 2em;
  font-family: "Courier New", Courier, monospace;
}

.active {
  border-bottom: 1px solid white;
}

a {
  color: white;
  text-decoration: none;
  font-size: x-large;
  font-family: "Courier New", Courier, monospace;
  margin: 0 5px;
}

main {
  min-height: 100vh;
  padding: 85px 24px 96px;
  color: black;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
  display: flex;
  flex-direction: column;
}

#about-header {
  font-weight: 300;
  font-size: 2rem;
}

main > h1 {
  display: block;
  font-weight: bolder;
  font-family: "Courier New", Courier, monospace;
  text-decoration: underline;
  text-align: center;
}

section {
  border: 2px solid black;
  font-size: 16px;
}

section {
  display: block;
  margin-bottom: 20px;
}

h2 {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
}

.about-section:nth-of-type(1) > img {
  float: right;
  margin: 0 24px 24px 24px;
}

.about-section:nth-of-type(2) > img {
  float: right;
  margin: 0 24px 24px 24px;
}

.about-section:nth-of-type(3) > img {
  float: right;
  margin: 0 24px 24px 24px;
}
