/* Reset Settings */

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

/* Body Styling */

body {
  background-color: white;
  height: 100vh;
  padding: 0;
  margin: 0 auto;
}

div {
  display: block;
}

nav {
  position: fixed;
  left: 0;
  right: 0;
  align-items: center;
  background-color: pink;
  color: white;
  display: flex;
  height: 80px;
  padding: 1rem;
  justify-content: space-between;
}

h1 {
  font-size: 2em;
  font-family: "Courier New", Courier, monospace;
}

.active {
  border-bottom: 1px solid white;
}

a {
  color: white;
  text-decoration: none;
  font-size: x-large;
  font-family: "Courier New", Courier, monospace;
  margin: 0 10px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

main {
  min-height: 100vh;
  padding: 90px 26px 90px;
  color: black;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
}

img {
  height: 310px;
  width: 300px;
}

main .quote {
  font-family: "Courier New", Courier, monospace;
  color: rgb(249, 109, 133);
  font-size: 50px;
  font-weight: 100;
  text-align: center;
}

footer {
  background-color: pink;
  height: 70px;
  padding: 10px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}
