/* Reset Settings */

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

/* Body Styling */

body {
  background-color: white;
  height: 100vh;
  padding: 0;
  max-width: 960px;
  margin: 0 auto;
}

div {
  display: block;
}

nav {
  position: fixed;
  left: 0;
  right: 0;
  align-items: center;
  background-color: pink;
  color: white;
  display: flex;
  height: 80px;
  padding: 10px;
  justify-content: space-between;
}

h1 {
  font-size: 2em;
  font-family: "Courier New", Courier, monospace;
}

.active {
  border-bottom: 1px solid white;
}

a {
  color: white;
  text-decoration: none;
  font-size: x-large;
  font-family: "Courier New", Courier, monospace;
  margin: 0 5px;
}

main {
  min-height: 100vh;
  padding: 85px 24px 96px;
  color: black;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
  display: flex;
  flex-direction: column;
}

#project-header {
  font-weight: 100;
  font-size: 2rem;
  text-align: center;
  text-decoration: underline;
}

h1 {
  display: block;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.project {
  width: 100%;
  margin: 2em auto;
  padding: 1em;
  background-color: lightgray;
}

.project:hover {
  background-color: pink;
}

h2 {
  display: block;
  font-size: 1em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-decoration: underline;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

footer {
  background-color: pink;
  height: 70px;
  padding: 10px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}
